.button{
  height: 50px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  border: none;
}

html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.homepage{
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main{
  width: 500px;
  margin: auto;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.tagline{
  font-size: 20px;
  color: white;
}
.logo{
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
  margin-top: 0;

}

.button{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 17px;
}
.button:hover{
  background: white;
  color: black;
}
/* Chat Page */
.member-area{
  top: 0;
  bottom: 0;
  width: 30%;
  left: 0;
  position: fixed;
  background-color: green;
  color: white;
}
.user-info{
  background: white;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: black;
  padding: 10px;
  cursor: pointer;
}
.user-info:hover{
  background: white;
  color: red;
}
.logout{
  float: right;
  cursor: pointer;
}
.logout:hover{
  background: white;
  color: red;
}
.member{
  padding: 10px;
  border-bottom: solid 1px white;
  cursor: pointer;
}
.member:hover{
  background: white;
  color: darkblue;
}
.message-area{
  background-color: azure;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 70%;
}
.chat-info{
  background-color:blue;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  color: black;
}
.member.active{
  background-color: azure;
  font-weight: bold;
  color: darkblue;
}
.messages{
  background: red;
  height: 80%;
  padding: 10px;
  overflow: scroll;
}
.message{
  background: lightblue;
  padding: 10px;
  margin-bottom: 10px;
}
.message.by-user{
  background: gray;
}
.chat-form{
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  background: purple;
  padding: 20px;
}
.chat-message{
  padding: 10px;
  border: solid 3px black;
  border-radius: 4px;
  display: block;
  width: 100%;
}
